[2014-12-05 19:57] trentm opened #1 "add 'sdcadm post-setup dev-sample-data' to help get started using full SDC"
We already have `sdcadm post-setup cloudapi` and `sdcadm post-setup common-external-nics` for helping to get from a base SDC setup to something more like a full public cloud setup.  A common next missing step is getting in starter data required for provisioning and usage via cloudapi:

- network pools (by default a cloudapi CreateMachine will get an IP from the first of each of the "public" and "p

[2015-02-04 21:56] pannon opened #2 "sdcadm post-setup ha-manatee syntax"
Tried to create a manatee HA setup with the following syntax:
`sdcadm post-setup ha-manatee -s UUID_SRV1 -s UUID_SRV2` - failed
`sdcadm post-setup ha-manatee -s UUID_SRV1 UUID_SRV2` - failed
`sdcadm post-setup ha-manatee -s UUID_SRV1,UUID_SRV2` - failed
`sdcadm post-setup ha-manatee -s "UUID_SRV1 UUID_SRV2"` - failed

Also tried the same with `--server`, same results .

All of the above failing mo

[2015-02-04 22:14] trentm commented on #2
Looking at the code `sdcadm post-setup ha-manatee -s UUID_SRV1 -s UUID_SRV2` should be the right way. I haven't yet used and tested `sdcadm post-setup ha-manatee` yet though.

I was able to get past that like this:

[code]

Perhaps the UUID arguments you are giving are not existing and setup CNs in CNAPI (`sdc-cnapi /servers?setup=true`)?

A general warning: You've hit on something (sdcadm post-se

[2015-02-06 15:45] kusor commented on #2
Hi Peter,

as Trent said, `sdcadm post-setup ha-manatee -s UUID_SRV1 -s UUID_SRV2` is the way to proceed. Also, as Trent commented, the given server UUIDs must belong to existing servers on CNAPI. What is the output of `sdc-cnapi /servers/UUID_SRV1` and `sdc-cnapi /servers/UUID_SRV2` for the concrete UUIDs you tried to give to the command?.

[2015-02-08 19:45] pannon commented on #2
Guys sorry for the long delay on this, please see below.

Both `sdc-cnapi /servers/UUID_SRV1 sdc-cnapi /servers/UUID_SRV2` is finding the servers OK.
Also  `sdc-server list` is working as expected.

`sdcadm post-setup ha-manatee -s UUID_SRV1 -s UUID_SRV2` fails with:

[code]

Maybe it is only affecting our version, which is based on joyent_20150123T195942Z.

Meanwhile I have worked this around, ju

[2015-02-10 20:18] trentm commented on #1
Internal TOOLS-791 for this work.

[2015-02-17 17:51] sperreault opened #5 "sdcadm post-setup zookeeper getting "sdcadm post-setup: error (Usage): Must specify 2 existing servers""
As per this gist: https://gist.github.com/sperreault/51182ac21b27a2a5f1a0

There is a bug with post-setup.js at line 314 where it should be

if (servers.length !== opts.servers.length) {

not

if (servers.length !== servers_.length) {

[2015-02-17 17:58] #5 closed

[2015-02-17 23:50] trentm commented on #2
@pannon  Possibly fixed by https://github.com/joyent/sdcadm/commit/f6209c5502cbe14660b56c5c2847e84db12f35af  just recently.

[2015-02-18 01:44] sperreault opened #6 "sdcadm update --all fails assets0"
While testing an update the assets0 zone become svcs err, upon looking a bit more closely the /var/svc/mdata-user-script as one line and it's false. Changing that line to true, executing svcadm clear svc:/smartdc/mdata:execute, and using the user script available here https://github.com/joyent/sdcadm/blob/master/etc/setup/user-script seems to solve the issue. But it's not a fix for sure.

[2015-02-18 01:51] sperreault commented on #6
https://gist.github.com/sperreault/843ad152b72e47a870bf

[2015-02-18 09:10] kusor commented on #2
Yeah, @pannon, GH-5 was a duplicate of this. It's fixed now.

[2015-02-18 09:10] #2 closed

[2015-02-18 17:12] kusor commented on #6
There was a problem where the update script was setting empty content for the user-script to be executed and, therefore, it was always evaluated to "false". Output is looking much better after the aforementioned change:

[code]

Thanks for finding it!

[2015-02-18 17:12] #6 closed

[2015-02-22 22:14] pannon opened #7 "sdcadm experimental dc-maint --stop (read-only transaction)"
Followed the update procedure with `sdcadm experimental`, all seemed happy until tried to bring the DC out of maintenance mode, see below:

[code]

This seem to be coming from postgres, `manatee-adm status` shows all three manatee instances online and healthy.

`sdcadm check-config` shows adminui and vmapi in failed state - these will be most likely the symptoms.

`sdc-healthcheck` reports  `globa

[2015-02-23 01:28] pannon commented on #7
This is working now, Manatee was broken in a subtle way, rebuilt the shards and all is back online now!

[2015-02-23 01:28] #7 closed

[2015-02-23 21:14] pannon opened #8 "sdcadm experimental update-gz-tools & update-agents"
I am raising this here as others might experience this after upgrading gz-tools and agents in SDC with:

[code]

After finishing the whole SDC update process, running `sdc-healthcheck` highlighted an issue with `global` services.
`svcs -xv` reported `svc:/smartdc/application/config-agent:default` in maintenance mode.

Closer examination of `/var/svc/log/smartdc-application-config-agent:default.log

[2015-02-23 22:02] lloydde commented on #8
@pannon is this a CoaL environment? Did you enable dev-headnode-prov?

[2015-02-23 22:10] pannon commented on #8
Hi @lloydde, not a CoaL environment, this is in our lab/training setup 1 headnode and 2 compute nodes. We have a prod environment as well, have not tried it there yet.

Did not enable dev-headnode-prov.

[2015-02-23 22:12] lloydde commented on #8
@pannon thank you for eliminated that it is specific to CoaL with 'dev-headnode-prov' which is the env that I've reproduced the symptom in so far.

[2015-02-24 15:45] kusor commented on #8
@pannon which version of `sdcadm` are you using?. I've just tried and I'm completely unable to reproduce with latest `sdcadm`:

[code]

Do you have the log file for the upgrade?. I somewhat remember this happening with an older agents version, mind to update `sdcadm` and try again, in order to confirm that you can reproduce?.

Thanks in advance.

[2015-02-24 17:49] pannon commented on #8
Version is:
[code]
Logs in `/var/log/sdcadm/` ?

[2015-02-24 17:58] trentm commented on #8
Possibly related is the recently fixed https://smartos.org/bugview/AGENT-853

However, more of a guess is that you were upgrading from a significantly older COAL? Not sure of that tho.  @pannon: Yes logs on /var/log/sdcadm/ might pinpoint the issue.  Also the /var/tmp/agent_install.log would really help.

[2015-02-24 18:06] pannon commented on #8
@trentm not using CoaL, this happened on our Lab setup - all physical nodes. I will dig out the logs..

[2015-02-24 19:40] pannon commented on #8
Uploaded relevant [logs](https://us-east.manta.joyent.com/ptoth@oss.co.nz/public/sdcadm-debug-25022015.tar.gz) (hopefully sanitized correctly).

[2015-02-24 19:50] trentm commented on #8
@pannon Thanks! I'll have a look, but I'm not sure if this will reveal anything. I think we're finding that we need to revisit the install/setup of a few of the recent agents (config-agent, vm-agent, net-agent, cn-agent). I'll keep this ticket open until we have another run at that.

[2015-03-06 19:30] lloydde commented on #8
@pannon could you try updating again if you haven't already done so? This symptom should now be resolved.

[2015-03-06 19:30] #8 closed

[2015-03-08 18:25] pannon commented on #8
Thanks @lloydde , have already upgraded and have not seen this issue. Thanks everyone involved!

[2015-03-24 11:23] sperreault opened #10 "sdcadm update cannot cope with multiple instances of mahi"
While trying to update sdc from 20150219 to 20150319 I got the following message:

[root@headnode (dc1) /var/tmp]# sdcadm update mahi
Finding candidate update images for the "mahi" service.
sdcadm update: error (Update): do not support the following changes:
{"type":"update-service","service":"mahi","image":"d51ee30a-ce82-11e4-8e36-dbd1841a085b"}

It was deemed after looking at this gist https://g

[2015-03-24 11:25] sperreault opened #11 "sdcadm update mahi error message"
The error message when you try to update multiple instance of mahi doesn't lead to know that it's because of the fact that it cannot cope with multiple instances:

[root@headnode (dc1) /var/tmp]# sdcadm update mahi
Finding candidate update images for the "mahi" service.
sdcadm update: error (Update): do not support the following changes:
{"type":"update-service","service":"mahi","image":"d51ee30a-

[2015-03-24 15:37] kusor commented on #10
@sperreault upgrading multiple mahi instances is not yet supported, as you've figured out the hard way. It's on the short term plans anyway so, I'd say it should be implemented pretty soon.

[2015-03-31 13:17] #10 closed

[2015-04-13 22:55] trentm commented on #1
commit 56c90eb

This handles sample pkgs and a couple imgs. Skipping adding
network pools for now.

[2015-04-13 22:55] #1 closed

[2015-04-16 20:59] lloydde commented on #11
@sperreault with TOOLS-926 "sdcadm update: add support for multiple mahi instances update" now complete. I think this issue can be closed. Do you agree?

[2015-04-16 21:01] sperreault commented on #11
Yes I agree

On Thursday, April 16, 2015, Lloyd Dewolf <notifications@github.com> wrote:

--
Sebastien Perrreault
Partner
Les Technologies Alesium Inc
P: 514-298-7193
F: 514-221-3668
E: sperreault@alesium.net

"Life's missed opportunities, at the end, may seem more poignant to us than
those we embraced--because in our imagination they have a perfection that
reality can never rival." -- Roger Ebert

[2015-04-16 21:01] #11 closed

[2016-02-10 01:07] pannon opened #12 "sdcadm dc-maint start/stop errors if cloudapi is not on the headnode (or destroyed)"
Have two `cloudpapi` instances one running on the headnode and the other running on a compute node. When `sdcadm dc-maint start/stop` is issued it produces the error below as it tries to execute `svcadm -z ....` for the remote `cloudapi` which (obviously) fails.

[code]

Also the same error happens when the second `cloudapi` is destroyed - `sdcadm` still tries to execute `svcadm` in the destroyed

[2016-02-10 15:25] kusor commented on #12
Yeah, right now having CloudAPI running on the HN - and most of the core components - is a requirement for `sdcadm` to work properly. I'll take a look at this and try to modify in the short term, since the fix is not that complex once we have sorted out updates of HA services running into different nodes.

[2016-02-16 18:55] bahamat opened #13 "Use of xargs with sdc-server lookup is superfluous, should be stricken from the man page."

[2016-02-16 19:16] trentm commented on #13
closed with pull #14

[2016-02-16 19:16] #13 closed

[2016-03-28 11:42] benjamin-bergia opened #16 "upgrade to 20160317 fails"
I am currently trying to upgrade to 20160317 using the this [procedure](https://github.com/joyent/sdcadm/blob/master/docs/update.md).

Unfortunately, I am stuck after running `sdcadm up -y --all --force-data-path`
All the zones seem to get update without issues but not sapi:
[code]
After that trying to re-run the command just gives me:
[code]

[2016-03-28 20:43] trentm commented on #16
@benjamin-bergia I might need to feel this out a bit. Do you have 'sapi0' and 'sapi0tmp' zones on your headnode now? E.g. what is the output of `vmadm list | grep sapi` from your headnode GZ?

If so, then I'm curious if (a) SAPI is working and (b) if that sapi0tmp instance is in SAPI's database. Run the following to find out: `sdc-sapi /instances/$(vmadm lookup -1 alias=sapi0tmp)`

If so, then I t

[2016-03-29 01:53] benjamin-bergia commented on #16
@trentm I do have 2 sapi zones now:
[code]
This is the output of the healthcheck
[code]

[code]

Anyway to remove the temporary instance or to rollback the upgrade ?

[2016-03-29 09:42] benjamin-bergia commented on #16
Since the sapi0tmp doesn't appear to be used can I delete it using `vmadm` ?
I tried to stop it but even after stopping it, I still get the same error.

My adminui is also not usable despite being listed as 'online'. Any way to quickly rollback the upgrade, this is my production headnode.

[2016-03-29 10:20] benjamin-bergia commented on #16
I manually deleted the `sapi0tmp` zone and re-ran `sdcadm up -y --all --force-data-path`. The sapi upgrade went well unfortunately I get a new error on manatee
[code]
After checking on https://images.joyent.com/images, this image doesn't seem to exist.

[2016-03-29 16:29] trentm commented on #16
@benjamin-bergia Sorry this isn't going well.

Yes, manually deleting sapi0tmp with 'vmadm' was fine.

The update images will be on updates.joyent.com. That image server also has separate "channels" with separate sets of images.

[code]

That image is in the "release" and "staging" channels. I'm guessing your SDC is setup to use the "release" channel. Use `sdcadm channel get` to see.

From this er

[2016-03-30 03:07] benjamin-bergia commented on #16
After importing the image using imgadm, everything worked fine. Thank you very much for your help.

[2016-03-30 03:07] #16 closed

[2016-06-16 19:53] bdha opened #19 "`sdcadm health -j -q` prints healthy services"
Rather than only printing unhealthy services in JSON.

[code]

[2016-06-17 11:40] #19 closed

[2016-06-17 11:41] kusor commented on #19
@bdha thanks for catching it. Looks like both options were understood as mutually exclusive, but that wasn't documented into the help/man page. There's no reason for that incompatibility between options, so it should be fixed now.

[2016-06-21 07:53] benjamin-bergia opened #20 "Upgrade to release 20160609 fails"
I have been trying to upgrade my production headnode to 20160609 using the release channel, unfortunately it fails at the manatee upgrade step.

The upgrade failed after creating the moray0tmp instance.

[code]

On moray0 instance, the service mdata-execute, fails to start. In the logs, it seems to get stuck at the following step:

[code]

It loops for some time and the startup method fails.

Curr

[2016-06-21 08:16] benjamin-bergia commented on #20
I commented the lines 136 to 138 of /opt/smartdc/boot/setup.sh and seems to work now. At least for this zone. I am now in this state

[code]

[2016-06-21 08:54] benjamin-bergia commented on #20
Apparently `wf-runner` and `wf-api` were both disabled on workflow0. just re-enabled them and finished my upgrade. Everything seems to be fine now.

[2016-06-21 09:04] kusor commented on #20
@benjamin-bergia those services were disabled or in maintenance?

[2016-06-22 00:20] sodre opened #21 "SDCADM fails to create additional instances of Moray"
**Version**: release-20160609
**Health/Config Checks**:
 - `sdcadm check-health` returned all healthy
 - `sdcadm config`
[code]
**Steps to Reproduce**:
[code]

[2016-06-22 00:38] sodre commented on #21
Alright, some additional information....
During yesterday's upgrade to 20160609 the `sdcadm update` command failed during the "moray" update. I will try to find the logs for that and attach to the next comment.

Here is the (truncated) output for `sapiadm showapp sdc`:
[code]

[2016-06-22 00:45] sodre opened #22 "Update to 20160609 fails to upgrade moray"
An update to the latest release (20160609) left moray in a bad state.

I followed the sdcadm docs for doing upgrades, here is a truncated version of `sdcadm up`

[code]

The update crashed at this point. I was able to rerun the update command and it continued to install manatee and binder without detecting the "issue" with moray.

The problem only showed up when I tried to take moray into HA mode

[2016-06-22 00:47] sodre commented on #21
I believe the root cause for this issue is #22. So I am just going to close this myself.

[2016-06-22 00:47] #21 closed

[2016-06-22 01:25] sodre commented on #22
Here are the steps I took in an attempt to fix correct the issues...

- Ensure moray0tmp is really dead:
[code]
- Add the missing information for moray0 to SAPI
[code]
- Remove moray0tmp from SAPI
[code]

[2016-06-22 01:43] sodre opened #23 "Documentation: Inconsistency on placement of moray nodes for HA"
What is the recommended setup in HA for moray? Should one colocate it with the manatee host or away from it?
The current documentation from joyent has two conflicting views.
- In [sdcadm/README.md](https://github.com/joyent/sdcadm#create-the-desired-number-of-moray-instances-for-ha) it reads (emphasis is mine):

- While in the [Triton Documentation](https://docs.joyent.com/private-cloud/resilience

[2016-06-22 03:58] benjamin-bergia commented on #20
@kusor Disabled
Sorry to ask but wheere are the update logs stored ?

[2016-06-22 09:39] kusor commented on #20
@benjamin-bergia initially, those files are located at `/var/log/sdcadm/logs` but once logs are rotated, the file should be merged into something like `/var/log/sdcadm/sdcadm_headnode_2016-06-21TXX:YY:ZZ.log`

I'd be interested into the part of moray update, which is what you said that failed, no need to upload the whole file :-)

[2016-06-22 09:45] kusor commented on #23
@sodre if you have CNs to create the moray instances separated from the manatees, that would be great. Either way we have setups with both, manatee and moray instances on the same CN working perfectly fine so, no big deal on this

[2016-06-22 10:09] kusor commented on #22
@sodre the steps to clear the issues look correct to me.

Do you have the update logs for the moment it failed creating the moray temp instance? (`/var/log/sdcadm` is the location for those files. At this point I imagine those have been rotated and you might need to dig a little bit into the file for the hour you ran the update.
Thanks in advance!

[2016-06-23 00:20] sodre commented on #22
@kusor, thanks I am glad.

I can get you the logs, but is there a way I can send them to you in private? It looks like most of the logs contain private certificate information and such.

[2016-06-23 01:12] sodre commented on #23
@kusor thanks for the response, I will continue to run them together with the manatee hosts.

[2016-06-23 08:43] kusor commented on #22
@sodre sure, it's easy to figure out my email address knowing I'm pedro and work for Joyent ;-)

[2016-07-11 03:16] benjamin-bergia commented on #20
@kusor Sorry for the delay

https://gist.github.com/benjamin-bergia/8fea0c280765c4d41a037376e10b9c56

[2016-08-18 08:08] martinvahi opened #24 "Recursive Checkout Fails"
It is supposed to be a public repository, but here's the case:

[code]

[2016-08-18 08:17] martinvahi commented on #24
Actually, there are also many other joyent GitHub repositories that have the same issue.  I just won't start listing them all here or at their respective bugtracks. You'll probably find them easily, if You have a whole list of repositories. One way to find it out is to do

    mkdir ./the_repository_clones
    wget https://raw.githubusercontent.com/martinvahi/mmmv_notes/master/mmmv_notes/mmmv_util

[2016-08-18 18:19] melloc commented on #24
@martinvahi , are you doing this from somewhere where you have an SSH key that is set up with Github? It looks like the submodule URL is for cloning over SSH, while all of the others using a git:// URL. If you set up an SSH key you should be able to finish cloning.

It would be nice to fix up the submodule paths at some point, to facilitate cloning without a key.

[2016-09-01 17:55] burkett123 opened #25 "sdcadm experimental update-gz-tools --latest issue"
Having a problem with:

sdcadm experimental update-gz-tools --latest

in a coal environment:

[code]

As best I can remember, the AssertionError was the same without the --force-reinstall

[2016-09-02 14:43] kusor commented on #25
The exception is due to wrong arguments while trying to instantiate `errors.InternalError`. I'll get it fixed.

It was trying to throw such error b/c it wasn't possible to mount the USB key. Any idea of a reason for such issue in your local setup?

[2016-09-02 15:48] burkett123 commented on #25
Morning Pedro,

   Sending this to you only, instead of the entire sdcadm list, since
I'm not sure of the proper protocol to observe here.  Please correct me
so that I can do the right thing.

   I'm only speculating here on the cause.  This is a COAL instance and
I believe the USB key is already mounted on the root headnode and it's
not really a device in this instance, but a zone.  Now this may

[2016-09-02 15:50] kusor commented on #25
Yeah, if you check your VM virtual disks you'll see one of ~ 3GiB, that's
the virtual USB key.

Quick question: do you remember if, when you were trying to run the
gz-tools update you were inside one of the USB key directories?, that would
explain the reason for the mount failure.

Cheers,

Pedro Palazón Candel
pedro@joyent.com

On Fri, Sep 2, 2016 at 5:48 PM, burkett123 <notifications@github.com>

[2016-09-02 16:12] burkett123 commented on #25
Morning Pedro,

   I was just in the /root directory of the headnode.  Never really had
need or instructions to go to another directory.  Working through the
COAL instructions here:

https://github.com/joyent/triton/blob/master/docs/developer-guide/coal-setup.md

Yes, there is a 3.78 GB drive in existance as
/var/lib/libvirt/images/sdc-headnode-usb.raw with perms of:

-rw-------. 1 qemu qemu 40002

[2016-09-02 16:15] burkett123 commented on #25
I changed to 777 sdc-headnode-usr.raw, but made no difference.  Just a
thought.

On 09/02/2016 10:50 AM, Pedro Palazón Candel wrote:

--
Karl Burkett
Linux System Administrator for Education
Office of Information Technology
Rice University
713-348-6256
Karl.Burkett@rice.edu

[2016-09-02 16:47] kusor commented on #25
No, no need to change permissions there. Anyway, the issue should be fixed with commit 28cfd7326210e57a2eba8a01f662c04898c11d3d. Mind to give it a try with an updated sdcadm version and let me know if the problem persists?

[2016-09-02 19:30] burkett123 commented on #25
Afternoon Pedro,

   sdcadm --version shows "sdcadm 1.12.0 (master-20160902T165623Z-g333d1f7)"

   Pardon my ignorance, but will this have your commit in it?

Thanks.

On 09/02/2016 11:47 AM, Pedro Palazón Candel wrote:

--
Karl Burkett
Linux System Administrator for Education
Office of Information Technology
Rice University
713-348-6256
Karl.Burkett@rice.edu

[2016-09-05 11:23] kusor commented on #25
Yeah, that should include it

Pedro Palazón Candel

On Fri, Sep 2, 2016 at 9:30 PM, burkett123 <notifications@github.com> wrote:

[2016-09-07 12:19] burkett123 commented on #25
Morning Pedro,

   Just ran sdcadm self-update --latest and it worked without error.

Thanks.

On 09/05/2016 06:24 AM, Pedro Palazón Candel wrote:

--
Karl Burkett
Linux System Administrator for Education
Office of Information Technology
Rice University
713-348-6256
Karl.Burkett@rice.edu

[2016-09-07 14:04] burkett123 commented on #25
Morning Pedro,

   The previous message was a little premature and not really testing
the issue at hand.  It took awhile for a new "latest" to show up. Sorry
about the delay.

   Your fixes did fix the stack dump, so that's good.  However, the
problem with mounting the drive still exists.

COLLECTION OF COMMANDS and results:
sdcadm self-update --latest  # prior to the latest update
Using channel d

[2016-09-07 14:14] kusor commented on #25
`sdcadm` uses `/opt/smartdc/bin/sdc-usbkey` when it's available. Mind to give it a try and let me know if something fails using it?

[2016-09-07 15:44] burkett123 commented on #25
Here you go Pedro:

./sdc-usbkey -v mount
[    66] ensuring usb key is mounted...
[   108] configured usbkey mountpoint: "/mnt/usbkey"
sdc-usbkey: error: VError: no pcfs devices found
     at missing (/opt/smartdc/lib/usbkey.js:529:18)
     at /opt/smartdc/lib/usbkey.js:710:21
     at /opt/smartdc/lib/usbkey.js:266:13
     at /opt/smartdc/node_modules/vasync/lib/vasync.js:96:5
     at /opt/smartdc

[2016-09-07 16:06] kusor commented on #25
Thanks @burkett123, I'll check with @jclulow and open another issue if needed

[2016-09-08 16:33] jclulow commented on #25
@burkett123 Can you collect the output of a few different commands, please?

* `/usr/bin/uname -v`
* `/usr/bin/diskinfo -Hp`
* `/usr/sbin/fstyp /dev/rdsk/c0t0d0p1`
* `/usr/bin/ls -l /dev/dsk/*p1`

Thanks!

[2016-09-08 17:05] burkett123 commented on #25
Here's the output Joshua:

sdcadm experimental update-gz-tools --latest
Using channel dev
UUID of latest installed gz-tools image is:
   45a44498-6e16-4dee-84db-f95d9d8431f1

Downloading gz-tools
     image: 2f3c7270-ad68-43c8-8315-7fe7c1a71081 (3.0.0)
     to: /var/tmp/gz-tools-2f3c7270-ad68-43c8-8315-7fe7c1a71081.tgz
Decompressing gz-tools tarball
Validating gz-tools tarball files
Updating "sdc"

[2016-09-08 22:51] jclulow commented on #25
@burkett123 I think I've narrowed this down to an issue with our handling of VirtIO disk devices.  Can you change the disk driver/model from "virtio" to "ide" for the headnode USB image in your KVM/QEMU configuration?  You can leave the other (ZFS pool) disk as a VirtIO disk.  If you do this and reboot, I would expect `diskinfo` to list two disks and for `sdc-usbkey -v mount` to start working.

[2016-09-13 17:30] burkett123 commented on #25
Afternoon Joshua,

   Going to have to do some research on this change.  virt-manager
doesn't want to change the disk type on the installed instance and
starting a new install with an IDE device is not happy with the starting
of an ide disk.  Going to have to learn some of the detailed internals
of a kvm I guess.

   On the plus side, the sdcadm scripts are robust enough to know that
if I manually

[2016-11-02 09:20] sw00choi opened #26 "sdc-login fails"
Some VMs will be lost if any compute node in the Triton fails.
In this case, ```sdc-login``` to any VM in the headnode gets error.
[code]

This error does not allow me to access any existing VM because of the missing VMs.

ctx.serverFromUuid[vm.server_uuid] in ```/opt/smartdc/sdcadm/lib/sdcadm.js``` gives me 'undefined' for the missing VM, so accessing the attributes to 'undefined' occurs error.
[

[2016-11-02 15:37] askfongjojo commented on #26
Hi @sw00choi, you may have an older version of sdcadm since there is already a fix for this issue in August. Please update your sdcadm by doing:
[code]

[2016-11-03 04:11] sw00choi commented on #26
Hi @askfongjojo.

The tested version information is:
[code]

```sdcadm``` version indicates that the August patch is applied.

[2016-11-03 10:31] kusor commented on #26
Hi @sw00choi, I've been unsuccessfully trying to reproduce the issue you mention here taking down CNs with VMs owned by the admin user.

Would it be possible to get the output of `sdc-cnapi /servers?extras=sysinfo,agents|json -Ha` and  `sdc-vmapi /vms?state=active\&owner_uuid=$(sdc-ufds search login=admin|json -Ha uuid)|json -H` in order to try to figure out what's going on with your setup?

Thank

[2016-11-04 01:25] sw00choi commented on #26
Hi @kusor, I attached 2 files which contain the json responses of your commands.
[sdc-cnapi.txt](https://github.com/joyent/sdcadm/files/570432/sdc-cnapi.txt)
[sdc-vmapi.txt](https://github.com/joyent/sdcadm/files/570433/sdc-vmapi.txt)

Also, this might help you figure out which one is wrong.
I wrote some codes to get some error log like this:
[code]

Then, the error log looks like this:
[code]

[2016-11-04 15:08] kusor commented on #26
So, you have the vm `nat-fda8406c-fa27-425d-8380-a8c9bc9eb2ef` running but the server that vm is supposed to be hosted (`564df1e9-ec2f-5da0-302b-6b5148e7620b`) doesn't exist anymore, correct?

If that's the case, could you try to destroy the instance record from SAPI using `sdc-sapi /instances/6b3d030d-2812-4750-8846-ec61fecb55ed -X DELETE`?

I cannot imagine why this instance has been left around

[2016-11-07 02:07] sw00choi commented on #26
Correct. The vm (```nat-fda8406c-fa27-425d-8380-a8c9bc9eb2ef```) can be found in adminui, but the CN (```564df1e9-ec2f-5da0-302b-6b5148e7620b```) for the vm does not exists anymore.

sdc-login was successful after ```sdc-sapi /instances/6b3d030d-2812-4750-8846-ec61fecb55ed -X DELETE```.

[2016-11-07 09:50] kusor commented on #26
This is fixed by commit 68e25103c0

[2016-11-07 09:50] #26 closed

[2016-11-20 23:51] davefinster opened #27 "-s/--servers not honoured during update"
Using sdcadm 1.12.0 (release-20161027-20161027T013125Z-gb4c58fe), running the following command
[code]
errors because one server in the Triton deployment (that is not listed on the --servers argument) is down. It appears that the argument is not being honoured because I see the following in the output:
[code]
i.e. the " in all the setup servers" on the last line

A full gist output is available [h

[2016-11-22 16:03] gochist opened #28 "--force-data-path option is not applicable for `sdcadm create portolan`"
Regarding https://github.com/joyent/triton/issues/214, I tried to create additional portolan instance but it failed with a message as below.

[code]

There's no way to create multiple portolan instances with `sdcadm create` because it doesn't allow `--force-data-path` option currently.

[2016-11-22 16:33] gochist commented on #28
I have made a PR at https://cr.joyent.us/#/c/935.

[2016-11-24 20:39] jussisallinen opened #29 "sdcadm update: error: imgapi client error (ImageUuidAlreadyExists) when running sdcadm update docker"
sdcadm 1.14.0 (master-20161124T190233Z-gf6d1f0c)

# sdcadm update docker -y

Finding candidate update images for the "docker" service.
Using channel release

This update will make the following changes:
    download 1 image (177 MiB):
        image 9fb2ea90-b1cf-11e6-a586-4b418000a9c5
            (docker@release-20161124-20161123T224055Z-g2c4c350)
    update "docker" service to image 9fb2ea90-b1cf

[2016-11-24 20:50] jussisallinen commented on #29
Output from 2nd run:

sdcadm update: error: error importing VM image 9fb2ea90-b1cf-11e6-a586-4b418000a9c5:
        argv: ["/usr/sbin/imgadm","import","-q","9fb2ea90-b1cf-11e6-a586-4b418000a9c5"]
        exit status: 1
        stdout:
Importing 9fb2ea90-b1cf-11e6-a586-4b418000a9c5 (docker@release-20161124-20161123T224055Z-g2c4c350) from "http://not.disclosed.url"
Gather image 9fb2ea90-b1cf-11e6-a58

[2016-11-28 23:48] trentm commented on #28
A side note for this issue: There are a couple reasons to beware having multiple portolan instances:

1. While the engineers involved say that portolan should function properly with multiple instances, that hasn't been well tested yet.
2. `sdcadm` doesn't have support for deleting added instances. One would have to manually delete extra instances of portolan via something like `sdc-sapi /instances

[2016-11-28 23:54] #28 closed

[2017-03-09 01:36] tangfeng123 opened #30 "there have something wrong when run sdcadm post-setup cmon"
Below is the error message. cmon is installed and running smooth. but cmon-agent have below error.
The attachment is the error log detail with sdcadm -v post-setup cmon 2>&1 | tee post-setup-cmon.log

[root@headnode (bst-1) /]# sdcadm post-setup cmon
Installing cmon-agent               [======================================================================>] 100%        6
"cmon-agent" install fail

[2017-03-09 08:28] kusor commented on #30
You need a cn-agent build from January the 25th or later including commit
https://github.com/joyent/sdc-cn-agent/commit/b42d166a9c1a68a6edb18c7baa0019ea7cd652cc

Cheers,

El 9 mar. 2017 2:36, "tangfeng123" <notifications@github.com> escribió:

[2017-03-15 06:13] tangfeng123 commented on #30
When I try update the sdc-cn-agent as below there still have something wrong.

[root@headnode (bst-1) /]# sdcadm experimental update-agents --latest cn-agent
Finding latest "agentsshar" on updates server (channel "dev")
Latest is agentsshar ee973a68-4aca-4308-a5be-284e3d8822c0 (1.0.0-master-20170309T222915Z-g707200f)
Finding servers to update
sdcadm experimental update-agents: error: 1 of 1 select

[2017-03-15 17:15] kusor commented on #30
The command must be just:

 sdcadm experimental update-agents --latest

without "cn-agent" at all.

Pedro Palazón Candel
pedro@joyent.com

On Wed, Mar 15, 2017 at 7:13 AM, tangfeng123 <notifications@github.com>
wrote:

[2017-03-16 02:22] #20 closed

[2017-03-25 02:29] ofsole opened #31 "Update to 20170316 fails to upgrade moray,cloudapi.."
When I run sdcadm up moray -y, got the following messages.
------------------------------------------------------------------------------
[root@headnode (office) ~]# sdcadm up moray -y

Finding candidate update images for the "moray" service.
Using channel release

This update will make the following changes:
    download 1 image (53 MiB):
        image 319e6fec-09b9-11e7-bc13-d76594d2f0c3

[2017-03-30 15:12] kusor commented on #31
Hi @ofsole,

the sdcadm log isn't very helpful here, since it's just telling us that there has been a problem importing the image which, for your later comments, looks like it's due to some zfs issue.

Is this a COAL setup or bare metal SmartOS installation?

Have you tried to manually download and import the image before attempting moray update?

[2017-04-05 02:18] ofsole commented on #31
Hi @kusor
Sorry for the late reply due to my vacation, It's a bare metal Smartos installation.

I try to use sdc-imgadm import -f filename -m manifest, it works, and I use imgadm import "uuid", it stuck here, sdc-imgadm delete and reimport didn't work either.

Take one for example,
_before I import adminui(734a045c-09b8-11e7-945a-5b62ba725083),_
[root@headnode (office) ~]# ps -ef | grep 734a045c-0

[2017-04-05 11:03] kusor commented on #31
Hi @ofsole

This is definitely unrelated to sdcadm itself and more like a zfs issue. What platform image are you running? Could you try a platform update and retry?

[2017-04-06 08:19] ofsole commented on #31
Hi @kusor
After updating the platform to the latest, it works like a charm, thanks for your great help.

[2017-04-06 08:19] #31 closed

[2017-06-22 13:05] themisanthrope opened #32 "`sdcadm` unresponsive after self-update to `release-20170608-20170608T210823Z-g1fef837`"
Hi there,

I have found that after doing new install (using the current Triton installer `release-20170608-20170608T213206Z-gb9ac8cc`) `sdcadm` is often either unresponsive or times out, with successful operations being a fraction of those tried.

If I install an older build of Triton (I tried `release-20170316-20170315T223833Z-gc64b017`), `sdcadm` works without issue _until_ I issued `sdcadm set

[2017-06-22 15:45] kusor commented on #32
Hi Adam,

can you upload SAPI and sdcadm logs somewhere so we can take a look? If you
don't try to setup fabrics, is the issue gone? Can we take a look at the
fabrics config file you're using?

For the time being, I have manually downgraded sdcadm, so I have a working

If this is a sdcadm issue, you can always downgrade it to a previous
version using the uuid from one of the images retrieved from

[2017-06-22 19:38] themisanthrope commented on #32
Will do - I'll grab the logs off the box tomorrow

No - this was even happening with `post-setup common-external-nics`, which is pretty much the first thing I ran after making sure the default zones were healthy. Setting up the fabrics came after that, but I had to retry both several times before they completed.

Sure, it's not a complex setup at all - I'm only using a single NAT pool. I'll grab t

[2017-07-01 13:59] themisanthrope commented on #32
Apologies for the delay! I did a fresh install with `release-20170608-20170608T213206Z-gb9ac8cc` on different hardware, same issue. I'm about to install the latest build from scratch (on the same box), and I'll report back.

However the information you requested is below.

**IPMI Console Input**
*Setting up LACP directly after setup*
[code]
*Attempting configuration*
[code]

[2017-07-01 17:22] themisanthrope commented on #32
Also getting the same issue on the latest release `20170623T043049Z-gb9ac8cc`.

[2017-07-06 15:48] kusor commented on #32
@themisanthrope The sdcadm log isn't very useful, it's full of failed attempts to resolve `binder.development.infra.victoriaplum.com` on Binder. Same for the SAPI logs. sdcadm logs for individual commands can be found under `/var/log/sdcadm/logs/` right after you exec each command.

Could you give this a try using `sdcadm -v <CMD>`? That way it'll log everything to stderr/stdout too. Also, right b

[2017-07-08 20:58] themisanthrope commented on #32
@kusor The box I was originally using is now in production, so tonight In upgraded a previously working box and have run into the same problem.

The NTP service does appear to be running and is not reporting any errors. The date and time also follow the NTP server on our network faithfully.

Interestingly, after doing the `sdcadm` upgrade, all I'm getting to the console (in verbose mode) seems to

[2017-07-08 21:24] themisanthrope commented on #32
FYI, I couldn't downgrade `sdcadm` using it's own self-update function either, due to the same problem.

I ended up just clearing out the contents of `/opt/smartdc/sdcadm/` and copying in the contents of `/var/sdcadm/self-updates/20170322T091211Z/sdcadm.old/`.

[2017-07-10 06:45] benjamin-bergia opened #33 "Disable fabric network"
Is the any procedure to rollback https://docs.joyent.com/private-cloud/install/advanced-configuration#setup-fabric-networks ?

Apparently after enabling fabric networks, it is not possible to provision docker instances outside of the fabric network.

After removing all the fabric networks created, is it possible to "disable" it and get back to the point where we were before running
`sdcadm post-se

[2018-03-11 00:28] #22 closed

[2018-09-27 14:49] kusor commented on #33
No, there isn't such possibility, at least automated. It might require manual modifications and re-configuration of the whole Triton setup in order to make it possible.

[2018-09-27 14:49] #33 closed

[2018-09-27 14:52] kusor commented on #32
This issue should be already fixed into the most recent sdcadm versions.

Note that you can always bypass a broken sdcadm version by installing the latest available shar:

[code]

[2018-09-27 14:52] #32 closed

[2018-09-27 14:57] kusor commented on #27
Updated title since this happens only when trying to update `dockerlogger`, not sure if by design or not, would need to confirm

[2018-09-27 14:59] kusor commented on #25
This is no longer a `sdcadm` issue.

[2018-09-27 14:59] #25 closed

[2018-09-27 15:05] kusor commented on #24
No longer an issue:

[code]

[2018-09-27 15:05] #24 closed

[2018-09-27 15:13] kusor commented on #12
Having CloudAPI not on the headnode is no longer a problem. Ditto for docker instance. And it's just using _"active"_ instances, so destroyed or missing instances shouldn't be a problem anymore

[2018-09-27 15:13] #12 closed

[2019-10-28 18:07] goekesmi opened #43 "waferlock crashes on moray0tmp entries in sapi because it has no metadata"
Discovered during an upgrade of Triton, in the manatee zone, waferlock will crash if it attempts to load metadata associated with a moray0tmp service.  From the core file:
[code]

The crash occurs here in waferlock: https://github.com/joyent/waferlock/blob/master/lib/sapi.js#L186

Narrative of localizing the issue: https://goekesmi.com/debugging-node-with-mdb/
Twitter thread: https://twitter.com/g

[2020-10-31 11:44] kusor opened #74 "`sdcadm platform install --latest` should install only smartos PI, not linux"
This shouldn't happen when trying to install latest PI:

[code]

[2020-11-01 15:48] #74 closed

[2021-07-02 23:04] bahamat commented on #43
This should be fixed in TRITON-2194 20ba6c73276e6340770ecf9684c5b6f8a5bbb750 PR #76

[2021-07-02 23:04] #43 closed

[2021-07-02 23:05] bahamat opened #80 "platform install --latest should not force linux on users"

[2021-07-02 23:25] bahamat commented on #80
New behavior is:

* we will unconditionally attempt to install latest SmartOS (headnode at least will always be SmartOS)
* if there are any linux platforms currently installed, attempt to install linux PI
    * If no linux platforms found in updates.jo, give error message (this is unchanged)
    * Once we start adding linux PIs to updates.jo, this will clear up automatically, so I think it's fine

[2021-07-02 23:26] bahamat commented on #80
I tested this by copying the change into two Triton environments. Both have linux CN *support*, but only one has Linux platforms installed.

Behavior is as expected from each.

[2021-07-03 17:38] #80 closed

[2021-07-03 17:57] #23 closed

[2021-07-15 20:11] bahamat opened #84 "sdcadm experimental update-agents should ignore Linux CNs for now"
Agents are currently delivered with the PI, and not updatable. The agent shar update should skip over Linux until we get this all sorted out.

Installing the agents shar works, but spits out some errors when encountering a Linux CN.

[2021-07-15 23:11] bahamat opened #85 "sdcadm experimental update-other hangs (missed callback)"

[2021-10-28 22:26] bahamat opened #89 "Sometimes Jenkins builds are marked dirty"
Sometimes, and I have no idea why, `npm install` modifies `package-lock.json` on the second run. This happens between `test` and `build and upload` Jenkins stages, and is not properly cleaned by the `re-clean` stage.

The difference in `package-lock.json` is that the `resolved` key is removed. For some reason this is prone to happening in feature branches and PR builds in Jenkins, but master and r

[2021-11-15 23:35] bahamat commented on #89
Fixed in 18c4ad2

[2021-11-15 23:35] #89 closed

[2022-05-13 06:33] siepkes opened #98 "sdcadm binder (Zookeeper) high availability setup initialization throws exception"
I tried to clusterize Zookeeper with the `sdcadm post-setup ha-binder` command as documented but ran in to the exception posted below. All nodes (including the headnode) were running platform `20220310T212952Z`.

[code]

[2022-05-13 14:42] bahamat commented on #98
This has been fixed in TritonDataCenter/binder#24. Update binder to latest in the dev channel to get the fix.

[2022-05-13 14:42] #98 closed

[2022-05-13 21:29] siepkes commented on #98
Thanks!